* {
    margin: 0;
   
} 
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #cad3b0;
    /* box-shadow: 0px 0px 10px inset; */
    position: relative;
    z-index: 10;
    gap: 20px;
    /* background-image: url(img/matrix.jpg); */
    /* background-size: 300px; */
    /* background-position: bottom; */
}
header div {
    color:  #59bca6;
    padding: 10px 25px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #222621;
    cursor: pointer;
}
header div:hover  {
    background-color: #45526f;
}
main {
    background-image: url(img/comment-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}
.chat-item {
    width: 70%;
    padding: 5px 10px;
    border: 1px solid #59bca6;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    position: fixed;
    bottom: 40px;
    
}
.chat-item button {
    background-color: #59bca6;
    border: double;
    border-radius: 30px 30px 10px;
    cursor: pointer;
}
.chat-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
  
.chat-input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.chat-window {
    padding: 10px;
    padding-bottom: 120px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 60%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .comment {
    padding: 10px 15px;
    background-color: #066cd1;
    color: aliceblue;
    max-width: 300px;
    border-radius: 20px;
    word-break: break-word;
  }
  
  .comment.me::before {
    content: "Вы: ";
    display: block;
    color: rgb(6, 229, 245);
    font-weight: bold;
  }
  
  .comment.other {
    background-color: #59bca6;
    color: rgb(22, 24, 26);
  }
  
  .comment.other::before {
    content: "Другой: ";
    display: block;
    color: rgb(0, 0, 180);
    font-weight: bold;
  }
  
.chat-window::-webkit-scrollbar {
    width: 5px; 
  }
  
  .chat-window::-webkit-scrollbar-track {
    /* background: #1f9944;  */
    background: none;

  }
  
  .chat-window::-webkit-scrollbar-thumb {
    /* background-color: #176415;  */
    border-radius: 20px; 
    /* border: 3px solid #176415;  */
    background: none;

  }
@media (max-width: 700px) {
    .chat-window, .chat-item {
        width: 100%;
    }
    .chat-item {
        bottom: 0;
    }
}
  